{% extends "base.html" %}

{% block content %}
    <form method="post">
        <table>
            <tbody>
                <tr>
                    <td><label for="username">Username</label></td>
                    <td><input name="username" type="text" value="{{username}}" required>
                    <span class="error">{{error_username}}</span>
                </tr>
                <tr>
                    <td><label for="password">Password</label></td>
                    <td><input name="password" type="password" value="" required>
                    <span class="error">{{error_password}}</span>
                </tr>
                <tr>
                    <td><label for="verify">Verify Password</label></td>
                    <td><input name="verify" type="password" value="" required>
                    <span class="error">{{error_verify}}</span>
                </tr>
                <tr>
                    <td><label for="email">Email (optional)</label></td>
                    <td><input name="email" type=email value={{email}}>
                    <span class="error">{{error_email}}</span>
                </tr>
            </tbody>
        </table>
        <input type="submit">
    </form>
{% endblock %}
